.env
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.Python
.mypy_cache/
.pytest_cache/
.coverage
.coverage.*
.cache
.tox/
.envrc
.DS_Store
Thumbs.db
.vscode/
.idea/
.history/
*.log
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.orig
*.tmp
node_modules/
input/*.json
questions/*.txt